# attendance.db dosyasını hariç tut
attendance.db


*.log
*.tmp

# System docs
.DS_Store
Thumbs.db

# Python env 
venv/
.env


.vscode/
.idea/


__pycache__/
*.pyc
*.pyo

real-time-attendance-sys-13a15-firebase-adminsdk-fbsvc-0b0ea93420.json
real-time-attendance-460605-4367d4b382a9.json

